@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import "/node_modules/modern-normalize/modern-normalize.css";

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: initial;
}

button {
  font: inherit;
  border: initial;
  outline: initial;
  background-color: initial;
}

input {
  border: initial;
  outline: initial;
  font: inherit;
}

/* BASE */
body {
  background-color: #dee3e9;
  color: rgb(22, 24, 28);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  position: relative;

  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* BACKGROUND */
.background {
  position: absolute;
  height: 210px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;
  background-image: linear-gradient(125deg, #1f74f1 -10%, #0850b9 100%);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.background::before {
  content: "";
  background-image: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 0.025) 0,
    rgba(0, 0, 0, 0.075) 99%
  );
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.background > svg {
  position: absolute;
  top: -25px;
  left: 0;
  z-index: -1;
  user-select: none;

  width: 100%;
  min-width: 1440px;
  height: 100%;

  transform: scale(1.1);
}

/* HEADER */
.header {
  height: 148px;
  margin-bottom: 13px;
  position: relative;

  margin-bottom: 0;
}

.header__top {
  display: flex;
  align-items: center;
  max-width: 1000px;
  padding: 0 12px;
  margin: 0 auto;
  padding-top: 12px;
  position: relative;
  justify-content: center;
  padding-top: 40px;

  animation: intro 0.3s;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  height: 33px;
  margin-left: -8px;
  user-select: none;

  color: rgb(255, 255, 255);
  font-size: 17px;
  letter-spacing: 0.5px;
}

.logo__icon {
  height: 33px;
  width: 33px;
}

.logo__accent {
  font-weight: 800;
}

/* BOOKMARKS BTN */
.bookmarks-btn {
  text-transform: lowercase;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.75);
  margin-left: 13px;
  padding-left: 13px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  height: 32px;
  display: flex;
  align-items: center;
}

.bookmarks-btn::before {
  content: "";
  height: 15px;
  width: 2px;
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

/* SEARCH */
.search {
  position: relative;
  animation: intro 0.3s 0.1s backwards;
  margin: 0 auto;
  width: 610px;
  margin-top: 20px;
}

.search > button {
  cursor: pointer;
  position: absolute;
  top: 17px;
  left: 25px;
}

.search > button > i {
  transition: all 0.2s;
  color: rgba(0, 0, 0, 0.73);
}

.search__icon:hover,
.search__icon:focus {
  color: rgba(0, 0, 0, 0.93);
}

.search input {
  height: 56px;
  width: 100%;
  border-radius: 4px;
  padding-left: 55px;
  padding-right: 15px;
  padding-bottom: 2px;
  color: rgba(0, 0, 0, 0.9);
  caret-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.2s, box-shadow 0.1s;
}

.search input::selection {
  background-color: rgba(0, 0, 0, 0.25);
}

.search input:hover,
.search input:focus {
  background-color: rgba(255, 255, 255, 1);
}

.search input:focus {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
}

.search input::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 15px;
}

.search__input--invalid {
  box-shadow: 0 0 0 4px rgba(47, 19, 19, 0.729);
}
